@import url('https://fonts.googleapis.com/css?display=swap&family=Exo:100,100italic');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Exo', sans-serif;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}
